body,html{height: 100%}
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
body,html{height: 100%}
.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("../photos/image/DSCF4020.JPG");
  min-height: 40%;

}
